# Playdate firmware files for testing
pdfw*
boot*
PlaydateOS.zip
*.pdos
*.pdkey

# Build files
src/loader/start.inc
patcher.bin
build/*
firmware_patched.bin
test.lua

# other things
pdkeys.txt
NoDmcaViolationsHere/*